[submodule "backend-spring"]
	path = backend-spring
	url = https://github.com/AI-ary/backend-spring.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/AI-ary/frontend.git
[submodule "Ai-flask"]
	path = Ai-flask
	url = https://github.com/AI-ary/Ai-flask.git
